<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오목 게임</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>오목 게임</h1>
<p id="turnIndicator">현재 턴: <span class="black">흑돌</span></p>
<canvas id="omokBoard"></canvas>
<div id="buttonContainer">
    <button id="undoButton">무르기</button>
    <button id="resetButton">리셋</button>
</div>
<script src="/js/script.js"></script>
</body>
</html>
